div{
    background-color: red;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 20px;
    border: 1px solid black;
    position: relative;
    display: inline-block;
    left: 30px;   
}
div:nth-child(odd){
    display: none;
}